@font-face{
    font-family:P22-Thin;
    font-display: block;
    src:url(fonts/p22undergroundcypro-thin.woff) format('woff');
}
@font-face{
    font-family:P22-Book;
    font-display: block;
    src:url(fonts/p22undergroundcypro-book.woff) format('woff');
}
@font-face{
    font-family:P22-Demi;
    font-display: block;
    src:url(fonts/p22undergroundcypro-demi.woff) format('woff');
}

@font-face{
    font-family:P22-Heavy;
    font-display: block;
    src:url(fonts/p22undergroundcypro-heavy.woff) format('woff');
}

@font-face{
    font-family:P22-Medium;
    font-display: block;
    src:url(fonts/p22undergroundcypro-medium.woff) format('woff');
}

@-webkit-keyframes slideInLeft{from{-webkit-transform:translate3d(-100%, 0, 0);transform:translate3d(-100%, 0, 0);visibility:visible;}
to{-webkit-transform:translate3d(0, 0, 0);transform:translate3d(0, 0, 0);}
}
@keyframes slideInLeft{from{-webkit-transform:translate3d(-100%, 0, 0);transform:translate3d(-100%, 0, 0);visibility:visible;}
to{-webkit-transform:translate3d(0, 0, 0);transform:translate3d(0, 0, 0);}
}

.slideInLeft{-webkit-animation-name:slideInLeft;animation-name:slideInLeft;}
button {
    z-index: 1;
  }
  
  button:hover {
    cursor: pointer;
    animation: jelly 0.5s;
  }
  
@keyframes jelly {
    0%,
    100% {
      transform: scale(1, 1);
    }
    25% {
      transform: scale(0.9, 1.1);
    }
    50% {
      transform: scale(1.1, 0.9);
    }
    75% {
      transform: scale(0.95, 1.05);
    }
  }
h1 {
    font: P22-Medium;
    font-style: normal;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-variant-numeric: normal;
    font-variant-east-asian: normal;
    font-weight: normal;
    font-stretch: normal;
    line-height: normal;
}
h2 {
    font: P22-Medium;
    font-style: normal;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-variant-numeric: normal;
    font-variant-east-asian: normal;
    font-weight: normal;
    font-stretch: normal;
    line-height: normal;
}
h3 {
    font: P22-Medium;
    font-style: normal;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-variant-numeric: normal;
    font-variant-east-asian: normal;
    font-weight: normal;
    font-stretch: normal;
    line-height: normal;
}
p {
    font: P22-Medium;
    font-style: normal;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-variant-numeric: normal;
    font-variant-east-asian: normal;
    font-weight: normal;
    font-stretch: normal;
    line-height: normal;
}
.wrap{
    margin:0 auto;
    float:none;
    padding-bottom: 4%;
    padding-top: 4%;
    box-sizing:content-box;
    -o-box-sizing:content-box;
    -moz-box-sizing:content-box;
    -ms-box-sizing:content-box;
    -webkit-box-sizing:content-box;
}
     /* HEADER  */
header{
    width: 100%;
    height: 14%;
    background: #ffffff;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    padding-left: 3%;
    padding-right: 4%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    border-bottom: 1px solid #207a34;
}
.header-logo {
    width: 270px;
    color: #207a34;
    font: 32px P22-Heavy;
    text-transform: uppercase;
    margin-right: 30px;
    padding-top: 10%;
}
.nav-text{
    padding-top: 17px;
}
.nav-text__info{
    font-size: 15px;
    color: #207a34;
    font-weight: 500;
    margin-bottom: 3px !important;
    padding-bottom: 12px;

}
.rigth-nav-bar{
    display: flex;
    flex-direction: column;
    width: 50%;
}
.nav-info-mail{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 60%;    
    width: 100%;
    padding-top: 20px;
    padding-left: 0px;
}
.nav-info-mail__text{
    font-weight: 600;
    color: #207a34;
    font-size: 15px;
    display: inline-block;
}
.nav-info-mail__text > a{
    color: #207a34;
    font-size: 14px;
}
.nav-info-mail__text > a:hover{
    color: #f89c11;
}
.nav-text__info > a {
    color: #207a34;
}
.nav-text__info > a:hover{
    color: #f89c11;
}
.btn-nav{
    font-size: 15px;
    background-color: #207a34;
    color: #eaeaea;
    border-radius: 5px;
    border: 0;
    text-align: center;
    width: 140px;
    height: 30px;
    margin-top: -3;
    margin-left: -10px;
}
.btn-nav:hover{
    background-color: #f89c11;
}
.nav-bar-info{
    font-size: 15px;
    color: #eaeaea;
    padding-top: 3%;
    /* margin-left: 3%; */
}
.nav-bar-style{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: -20px;
}
.nav-bar-info > A {
    color:#207a34; /* Цвет ссылок */
   }
.nav-bar-info > A:active {
    color: #f89c11; /* Цвет активных ссылок */
   }
.nav-bar-info > a:hover{
    color: #f89c11; /* Цвет активных ссылок */
}
.messanger{
    padding: 0 !important;
    margin-top: -2px;
}
                                        /* HEADER CLOSE  */

                                      /* DROPDOWN CONTENT 1 Каталог*/
.dropdown-catalog {
    display: none;
    position: absolute;
    left: 40%;
    top: 85%;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: -10;
    opacity: 0;
}
.dropdown-catalog > div{ 
    color: #207a34;
    font-size: 18px;
    width: 350px;
    height: 100px;
    border-bottom: 1px solid #207a34;
}
.dropdown-catalog:hover {
    z-index: 5;
    opacity: 1;
    display: block; 
}
.dropdown-block:hover >.dropdown-catalog{
    z-index: 5;
    opacity: 1;
    display: block;
}
                                    /* DROP DONW CONTENT 2 РЕМОНТ КОФЕ МАШИН */
.dropdown-repair {
    display: none;
    position: absolute;
    left: 10%;
    top: 85%;
    background-color: white;
    width: 400px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: -10;
    opacity: 0;
}
.dropdown-repair > div{ 
    color: #207a34;
    font-size: 18px;
    width: 350px;
    height: 100px;
    border-bottom: 1px solid #207a34;
}
.dropdown-block:hover > .dropdown-repair{
    z-index: 5;
    opacity: 1;
    display: block;
}
                                        /* DROP DOWN ОБЩЕЕ  */
                                        
.dropdown__block{
    display: flex;
    flex-direction: row;
}
.dropdown__block > div {
    border-bottom: 1px solid #207a34;
}
            /* DROPDOWN A  */
.dropdown-catalog, .dropdown__block > div > a { 
    color: #207a34;
    font-size: 15px;
    text-align: left;
}
.dropdown-catalog,.dropdown__block > div > a:hover { 
    color: #f89c11;
}                                        
.dropdown__img{
    margin-left: 2%;
    padding-top: 5%;
    padding-left: 5% ;
    width: 33%;
    height: 100px;
}
.dropdown__text{
    width: 66%;
    height: 100px;
    padding-top: 5%;
}
.dropdown__text > p > a{
    font-size: 10px;
    color: #555;
}
                                        /* DROP DOWN КОНЕЦ */
                        /* BLOCK ABOUT */
#about{
    background: url("../img/header-bg.jpg") no-repeat;
    -moz-background-size: 100%; /* Firefox 3.6+ */
    -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
    -o-background-size: 100%; /* Opera 9.6+ */
    background-size: 100%; /* Современные браузеры */
    /* height: 800px; */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 78%;
    position: relative;
    top: 14%;
}
#about-catalog{
    -moz-background-size: 100%; /* Firefox 3.6+ */
    -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
    -o-background-size: 100%; /* Opera 9.6+ */
    background-size: 100%; /* Современные браузеры */
    background-color: #207a34;
    height: 90px;
}

.page-title{
    margin-top: 2.2%;
}

#about_acess{
    background: url("../img/product-bg.jpg") no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -moz-background-size: 100%; /* Firefox 3.6+ */
    -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
    -o-background-size: 100%; /* Opera 9.6+ */
    background-size: 100%; /* Современные браузеры */
    /* height: 800px; */
    background-position-y: 48%;
    /* background-position-x: 78%; */
}

#about_acess .overlay {
    background: rgba(0, 0, 0, 0.5);
}
#about_acess .about-project-btn {
    padding-top: 10%;
    /* padding-bottom: 10%; */
}
/* /* #about_acess .about-title {
    /* color: #000000 !important; 
} */
.about-project{
    /* padding-top: 6%; */
    color: #ffffff !important;
}
.button-centre{
    display: block;
    margin-right: auto;
    margin-left: auto;
}
.pad-left{
    padding: 10px
}
.about-title {
    font: 45px P22-Heavy;
    font-weight: 700;
    color: #000000;
}
.title-other{
    padding-top: 1%;
}
ul {
    list-style-type: none;
}
    
#about ul > li:before {
    content: "—"; /* en dash here */
    position: absolute;
    margin-left: -1.4em; 
}

.about-project-ul {
    padding-top: 3%;
    position: relative;
    font: 20px P22-Medium;
    font-style: normal;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-variant-numeric: normal;
    font-variant-east-asian: normal;
    font-weight: normal;
    font-stretch: normal;
    font-size: 18px;
    line-height: normal;
    font-family: P22-Medium;
    color: #000000;
}
.about-project ul {
    padding-bottom: 15px;
}
.about-project .btn {
    position:relative;
    width:auto;
    background:#207a34;
    border-radius:5px;
    -o-border-radius:5px;
    -moz-border-radius:5px;
    -ms-border-radius:5px;
    -webkit-border-radius:5px;
    color:white;
    font:21px P22-Demi;
    padding:20px 50px;
    text-align:center;
}
#about .about-project-btn {
    margin-bottom: 100px;
}

                        /* ABOUT CLOSE */

                        /* BLOCK CONTENT */

#content{
    position: relative;
    top: 12%;
}

#content p{
    font-family: "Montserrat", Arial, sans-serif;
    font-size: 14px;
    line-height: 1.65em;
    font-style: normal;
    font-weight: 400;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
#content a{
    text-decoration: none;
    color: #333;
}
#content a:hover{
    color: #207a34;
}
#content h2{
    font-weight: 600;
    font-family: "Montserrat", Arial, sans-serif;
    font-style: normal;
    line-height: 1.1;
    color: #333;
}





                            /* MODAL */
.modal{
    display: block;
    position: fixed;
    text-align: center;
    z-index: -10;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.7); 
    transition:all 0.3s ease-in-out;
    opacity: 0;
}
.modal-content{
    background-color: white;
    z-index: 11;
    width: 60%;
    height: auto;
    left: 20%;
    top: 10%;
    border-radius: 20px;
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    pointer-events: auto;
    background-clip: padding-box;
    outline: 0;
}
.modal-title {
    font: 35px P22-Heavy !important;
}
.modal p {
    font: 22px P22-Book;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 50px;
    padding-right: 50px;
}
.modal .container {
    padding-right: 10%;
    padding-left: 10%;
}
.modal input {
    height: 55px;
}
.modal .inputs {  
    /* padding-left: 27%; */
    padding-bottom: 15px;
    
}
.modal .btn {
    width: 48%;
    height: 55px;
    background:#207a34;
    font: 18px P22-Demi;
}
.modal .notification {
    font: 20px P22-Demi;
    padding-top: 25px;
    padding-bottom: 40px;
}
.modal .closebtn {
    float: right;
    font-size: 28px;
    font-weight: bold;
    height: 50px;
    width: 40px;
    background: none;
    border: 0;
    opacity: .5;

}
.modal .modal-cost__closebtn {
    float: right;
    font-size: 22px;
    font-weight: bold;
    height: 50px;
    width: 40px;
    background: none;
    border: 0;
    opacity: .5;

}
.modal-phone-number{
    font: 28px Ubuntu Regular;
    padding-bottom: 10px;
}
.modal-phone-number > a{
    color: #149e4e;
}
       
                                        /* FOOTER */
/* footer{
    position: absolute;
    left: 0;
    bottom: -100%;
    width: 100%;
} */
.footer-ul {
    margin: 0;
    padding: 0;
}
.footer__brands {
    -webkit-column-count: 2;
    column-count: 2;
}
.footer {
    /* font-family: Source Sans Pro; */
    font-size: 14px;
    color: #fff;
    text-align: center;
    width: 100%;
}
.display-cell {
    display: table-cell;
}
.display-row {
    display: table-row;
}
.nav-bottom__item {
    display: inline-block;
    margin: 0 5px;
}
.block_services {
    font-size: 12px;
}
.display-cell {
    display: table-cell;
}
.footer a {
    color: inherit;
}
.otstup {
    height: 10px;
}
                                            /* FOOTER CLOSE */
                    /* INPUT */
input::-webkit-input-placeholder       {opacity: 1 !important; transition: opacity 0.3s ease !important;}
input::-moz-placeholder                {opacity: 1 !important; transition: opacity 0.3s ease !important;}
input:-moz-placeholder                 {opacity: 1 !important; transition: opacity 0.3s ease !important;}
input:-ms-input-placeholder            {opacity: 1 !important; transition: opacity 0.3s ease !important;}
input:focus::-webkit-input-placeholder {opacity: 0 !important; transition: opacity 0.3s ease !important;}
input:focus::-moz-placeholder          {opacity: 0 !important; transition: opacity 0.3s ease !important;}
input:focus:-moz-placeholder           {opacity: 0 !important; transition: opacity 0.3s ease !important;}
input:focus:-ms-input-placeholder      {opacity: 0 !important; transition: opacity 0.3s ease !important;}
            /* INPUT CLOSE */


                 /* BLOCK COFFEEMASHIN */



.models {
    margin-top: 7%;
    margin-bottom: 5%;
}
.models__img {
height: 160px;
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-pack: center;
-ms-flex-pack: center;
justify-content: center;
-webkit-box-align: center;
-ms-flex-align: center;
align-items: center;
margin-bottom: 18px;}
.col-lg-2 {
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
}
.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.models__row.active>div{
    display: block;
    flex-wrap: wrap;
}
@media (max-width:575.98px){
    .models__row{
        margin-left:-5px;margin-right:-5px;
    }
    .models__row [class*=col]{padding-left:5px;padding-right:5px}
}
@media (min-width:992px){
    .models__row [class*=col]:nth-child(-n+12){
        display:block
    }
}
@media (max-width:991.98px){
    .models__row [class*=col]:nth-child(-n+6){
        display:block}
    }
    .models__item{
        display:block;
        margin-bottom:3rem;
        color:#333;
        -webkit-transition-property:all;
        -o-transition-property:all;
        transition-property:all;
        -webkit-transition-duration:.3s;
        -o-transition-duration:.3s;
        transition-duration:.3s;
        -webkit-transition-timing-function:ease;
        -o-transition-timing-function:ease;
        transition-timing-function:ease;
        -webkit-transition-delay:0s;
        -o-transition-delay:0s;
        transition-delay:0s
    }
    .models__item:hover{
        color:#f89c11
    }
    .models__img{
        height:160px;
        display:-webkit-box;
        display:-ms-flexbox;
        display:flex;
        -webkit-box-pack:center;
        -ms-flex-pack:center;
        justify-content:center;
        -webkit-box-align:center;
        -ms-flex-align:center;
        align-items:center;
        margin-bottom:18px
    }
    @media (max-width:575.98px){
        .models__img{
            max-height:80px
        }
    }
    .models__img img{
        max-height:100%
    }.models__name{
        display:block;
        font-size:12px;
        font-weight:600;
        -o-text-overflow:ellipsis;
        text-overflow:ellipsis;
        overflow:hidden
    }
    .models-template 
    .models{
        display:none
    }
    .contacts__map{
        position:relative;height:100%
    }@media (max-width:991.98px){
        .contacts__map{
            height:auto
        }
    }
    .contacts__map img{
        display:block;
        -webkit-box-shadow:0 0 1px #000;
        box-shadow:0 0 1px #000
    }
.models__name {
    display: block;
    font-size: 12px;
    font-weight: 600;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
    text-align: center;
}
#full-machine-list{
    display: none;
    width: 100%;
}

    

                            /* MODELS BLOCK MORECOFFEEMASHINE CLOSE */

                            /* BTN */
.btn-custom:hover {
    background: #f89c11 !important;
    /* border: #f89c11 !important; */
    transform: none;
}
.btn-custom {
    font-size: 20px !important; 
    font-family: P22 Demi !important;
    background-color: #207a34 !important;
    padding: 10px 10px;
    color: #fff;
}                       
#button-close{
    display: none;
    align-items: center;
}     
#buttonshowall{
    align-items: center;
}
                            /* BTN CLOSE */



