@import "https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css";
/* @font-face{
    font-family:'Ubuntu Med1um';
    font-display: block;
    src:url(fonts/p22undergroundcypro-medium.woff) format('woff');
} */
@font-face {
    font-family: 'Ubuntu Light';
    src: url('fonts/Ubuntu-Light.eot');
    src: url('fonts/Ubuntu-Light.eot?#iefix') format('embedded-open'),
    url('fonts/Ubuntu-Light.woff') format('woff'),
    url('fonts/Ubuntu-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
  @font-face {
    font-family: 'Ubuntu Regular';
    src: url('fonts/Ubuntu-Regular.eot');
    src: url('fonts/Ubuntu-Regular.eot?#iefix') format('embedded-opentype'),
    url('fonts/Ubuntu-Regular.woff') format('woff'),
    url('fonts/Ubuntu-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Ubuntu Med1um';
    src: url('../css/fonts/Ubuntu-Medium.eot');
    src: url('../css/fonts/Ubuntu-Medium.eot?#iefix') format('embedded-opentype'),
    url('../css/fonts/Ubuntu-Medium.woff') format('woff'),
    url('../css/fonts/Ubuntu-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Ubuntu';
    src: 
    url('fonts/Roboto.woff2') format('woff2'), 
    url('fonts/Roboto.woff') format('woff'), 
    url('fonts/Roboto.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@import url(https://fonts.googleapis.com/css?family=Lato:400,300,900) ;
@keyframes go-down {  
   from{
       opacity: 0;
      height: 0;
    }
    to {
        opacity: 1;
        height: 400;
        color: #207a34;
    }
}
@keyframes buttonAnimation {  
    from {
        transform: scale(1, 1);

    }
    50%{
        transform: scale(1.07, 1.07); 

    }
    to {
        transform: scale(1, 1); 
    }
}
@keyframes slideInLeft{
    from{
        -webkit-transform:translate3d(-100%, 0, 0);
        transform:translate3d(-100%, 0, 0);
        visibility:visible;
    }
    to{
        -webkit-transform:translate3d(0, 0, 0);
        transform:translate3d(0, 0, 0);
    }
}
@-webkit-keyframes slideInLeft {
    from{
        -webkit-transform:translate3d(-100%, 0, 0);
        transform:translate3d(-100%, 0, 0);
        visibility:visible;
    }
    to{
        -webkit-transform:translate3d(0, 0, 0);
        transform:translate3d(0, 0, 0);
    }
}
@keyframes jelly {
    0%,
    100% {
      transform: scale(1, 1);
    }
    25% {
      transform: scale(0.9, 1.1);
    }
    50% {
      transform: scale(1.1, 0.9);
    }
    75% {
      transform: scale(0.95, 1.05);
    }
}
body{
    background-color: rgb(248, 248, 248);
}
.slideInLeft{
    -webkit-animation-name:slideInLeft;
    animation-name:slideInLeft;
}
button {
    z-index: 1;
    -webkit-box-shadow: 0 0.3em 0 #196029;
    box-shadow: 0 0.3em 0 #196029;
    -webkit-transform:scale(1);
    -ms-transform:scale(1);
    transform:scale(0.96);
    transition: ease all 0.3s 0s !important;
}  
button:hover {
    cursor: pointer;
    /* animation:  buttonAnimation 0.3s; */
}
h1 {
    font-style: normal;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-variant-numeric: normal;
    font-variant-east-asian: normal;
    font-weight: normal;
    font-stretch: normal;
    line-height: normal;
}
h2 {
    font-style: normal;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-variant-numeric: normal;
    font-variant-east-asian: normal;
    font-weight: normal;
    font-stretch: normal;
    line-height: normal;
}
h3 {
    font-style: normal;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-variant-numeric: normal;
    font-variant-east-asian: normal;
    font-weight: normal;
    font-stretch: normal;
    line-height: normal;
}
p {
    font-style: normal;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-variant-numeric: normal;
    font-variant-east-asian: normal;
    font-weight: normal;
    font-stretch: normal;
    line-height: normal;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}
.wrap{
    margin:0 auto;
    float:none;
    padding-bottom: 4%;
    padding-top: 4%;
    box-sizing:content-box;
    -o-box-sizing:content-box;
    -moz-box-sizing:content-box;
    -ms-box-sizing:content-box;
    -webkit-box-sizing:content-box;
}
                        /* HEADER  */
.mobile{
    display: none;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    color: white;
    font-size: 17px;
    font-family: Montserrat, Arial, sans-serif;
    width: 100%;
    height: 50;
    background-color: #333237;
    border-bottom: 1px solid #207a34;
    z-index: 15;
}
.header-hidden{
    background-color: rgba(0, 0, 0, 0.76) !important
}
.header-top{
    width: 100%;
}
.header-block{
    display: flex;
    flex-direction: row;
    width: 50%;     
    height: 51px;
    margin: 0 0 0 105;
    justify-content: space-around;

}
.header-text{
    padding: 10px;
}
.header-text > a{
    color: white;
}
.header-bottom{
    width: 100%;
    display: flex;
    position: relative;
    top: 50;
    border-bottom: 1px solid #207a34;
    z-index: 5;
    background-color: rgb(248, 248, 248);
    height: 100;
}
.social{
    display: flex;
    width: 15%;
    padding: 25 25 25 25;
    justify-content: space-around;
}
.header-bottom > .header-logo{
    width: 45%;
}
.header-logo{
    padding: 20 0 0 115;
}
.header-contact{
    width: 35%;
    padding: 20 25 25 8%;
}
.header-contact > a{
    color: black;
    font-size: 24;
    font-family: "Open Sans", "Myriad Pro", Arial, sans-serif;
}
.header-contact p > a{
    color: #207a34;
}
.header__adress, .header__working{
    color: #ffffff;
    font-family: "Ubuntu";
    font-size: 15px;
    font-weight: 500;
    grid-area: header__adress;
    text-align: center;
}
.header__adress > p{
    margin-bottom: 0;
}
.header__adress p > a{
    color: white;
}
.header__adress p > a:hover{
    color: #f89c11;
}
.header__working > p{
    margin-bottom: 0;
}
.header__working{
    grid-area: header__working;
}
.header-rigthbar__up{
    grid-area: header-rigthbar__up;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.header-tel{
    font-weight: 600;
    color: #f89c11;
    font-size: 15px;
    display: inline-block;
}
.header-tel > a{
    color: #ffffff;
    font-size: 17px;
    font-weight: normal;
    font-family: Ubuntu Med1um;
}
.header-tel > a:hover{
    color: #f89c11;
}
.nav-text__info > a {
    color: #ffffff
}
.nav-text__info > a:hover{
    color: #f89c11;
}

.btn-nav{
    font-size: 15px;
    background-color: #e0812d;
    color: #eaeaea;
    border-radius: 5px;
    border: 0;
    text-align: center;
    width: 165px;
    height: 27px;
    margin-left: -30px;
    -webkit-box-shadow: none;
    box-shadow: none; 

}
.nav-bar-info{
    font-size: 15px;
    color: #eaeaea;
}
.chevrone{
    width: 10px;
    transform: rotate(90deg);
}
.header-rigthbar__down{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    grid-area: header-rigthbar__down;
}
.nav-bar-info > A {
    color:#ffffff; /* Цвет ссылок */
   }
.nav-bar-info > A:active {
    color: #ffffff; /* Цвет активных ссылок */
   }
.nav-bar-info > a:hover{
    color: #f89c11; /* Цвет активных ссылок */
}
.messanger{
    padding: 0 !important;
    margin-top: -2px;
    width: 34.5%;
    display: flex;
    justify-content: space-between;
}
.messanger > a > .icons{
    width: 35;
}

.mobile-subheader{
    display: none;
}
.button-call{
    width: 27.5%;
    text-align: center;
}
                                        /* HEADER CLOSE  */

                                      /* DROPDOWN CONTENT 1 Каталог*/
.dropdown-catalog {
    display: none;
    position: absolute;
    left: 63%;
    top: 85%;
    background-color: #333237;
    width: 400px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: -10;
    opacity: 1;
    overflow: hidden;
    animation: go-down 0.5s ease-in-out;

}
.dropdown-catalog > div{ 
    color: #ffffff;
    font-size: 18px;
    width: 350px;
    height: 100px;
    border-bottom: 1px solid #207a34;


}
.dropdown-catalog:hover {
    z-index: 5;
    opacity: 1;
    display: block; 
}

.dropdown-block:hover >.dropdown-catalog{
    z-index: 5;
    opacity: 1;
    display: block;
}
                                    /* DROP DONW CONTENT 2 РЕМОНТ КОФЕ МАШИН */
.dropdown-repair {
    display: none;
    position: absolute;
    left: 50%;
    top: 85%;
    background-color: #333237;
    width: 400px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: -10;
    opacity: 0;
    overflow: hidden;
    animation: go-down 0.5s ease-in-out;
}
.dropdown-repair > div{ 
    color: #ffffff;
    font-size: 18px;
    width: 350px;
    height: 100px;
    border-bottom: 1px solid #207a34;

}
.dropdown-block:hover > .dropdown-repair{
    z-index: 5;
    opacity: 1;
    display: block;}
                                        /* DROP DOWN ОБЩЕЕ  */
                                        
.dropdown__block{
    display: flex;
    flex-direction: row;
}
.dropdown__block > div {
    border-bottom: 1px solid #207a34;
}
            /* DROPDOWN A  */
.dropdown-catalog, .dropdown__block > div > a { 
    color: #fff;
    font-size: 15px;
    text-align: left;
}
.dropdown-catalog,.dropdown__block > div > a:hover { 
    color: #f89c11;
}                                        
.dropdown__img{
    margin-left: 2%;
    padding-top: 5%;
    padding-left: 5% ;
    width: 33%;
    height: 100px;
}
.dropdown__text{
    width: 66%;
    height: 100px;
    padding-top: 5%;
}
.dropdown__text > p > a{
    font-size: 10px;
    color: rgba(255, 255, 255, 0.7);
}
                                        /* DROP DOWN КОНЕЦ */

.wrap-contact{
    float:none;
}
.img-index{
    height: auto;
    widows: auto;
}
.size-min{
    text-align: center;
    font-size: 14px;
    line-height: 1.65em;
    font-style: normal;
    font-weight: 400;
}
.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,102,203, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }
.navbar-nav {
    width: 100%;
}
.logo {
    width: 40px;
    height: 40px;
}
.socials {
  
    margin-left: auto;
    margin-right: auto;
}
.socials img {
    width: 60px;
    height: 60px;
    padding-right: 5px;
    padding-left: 5px;
}
.btn{
    color: #ffffff !important;
    background: #207a34;
}
.img {
    width: 100%;
}
.line{
    border: 1px solid #d8dcde;
    
}

.navbar-dark .navbar-nav .nav-link {
    color: white !important;
}
.drp-color{
    color: #000000 !important;
    font-size: 16px !important; 
    padding: 20px !important; 
}

.catalog-margin{
  
    margin: auto;
}
.test{
    margin: auto;
}
.content-centre{
    margin-left: 10% !important;
    margin-right: 13% !important;
}
.content-centre a:hover{
    border: 2px solid green;
}
.catalog_item_title p{
    font-size: 13px;
    color: #acacac;
    width: 100%;
    float: left;
    display: block;
    text-align: center;
    text-transform: uppercase;
    font-weight: 800;
    font-family: "Montserrat", Arial, sans-serif;
    margin-bottom: 8%;
}
.catalog_item  p:hover{
    color: green !important;
}

.catalog_item_img{
    display: inline-block;
    float: none;
    vertical-align: bottom;
    margin: auto;
    max-width: 190px;

}

.catalog_item{
    width: 250px;
    height: 250px;
    border: 1px solid #d8dcde;
    box-sizing: border-box;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    float: left;
    margin-left: -1px;
    margin-top: -1px;
}
.img-catalog {
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  margin-top: 10% ;
  height: 85px; 
    width: 150px; 
    max-width: 500px; 
    max-height: 500px;
  

}
.img-kofe {
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  margin-top: 10% ;
  height: 250px; 
    width: 200px; 
    max-width: 500px; 
    max-height: 500px;
  

}
.img-catalog-item {
    width: 150px;
    height: 55px;
    line-height: 55px;
    margin: 0 auto;
    box-sizing: border-box;
  

}

.phone-feedback-link a {

    font: 18px Ubuntu Regular;

    color: #207a34;

}
.phone-num-p {

    font: 24px Ubuntu Med1um;

    color: #222;

}
.btn-custom:hover {
    /* background: #f89c11 !important; */
    transform: none;
}
.btn-custom {
    font-size: 20px; 
    font-family: Ubuntu;
    background-color: #207a34;
    padding: 10px 10px;
}
.site-header  .active {
    color: #f89c11;
}
.cs-breadcrumb a {
    color: #fff;
}
.cs-breadcrumb{
    
    font-size: 11px;
    line-height: 1em;
    
    color: rgba(255, 255, 255, 0.7);
    background-color: rgba(0, 0, 0, 0.5) !important;
    -moz-border-radius: 2px 2px 0 0;
    -webkit-border-radius: 2px;
    border-radius: 1px 1px 0 0;
   
}

.bread-down{
    float:right;
    bottom: 0;
}
.site-header {
    background: #222222;
    padding-left: 5%;
}
.site-header a{
    font-size: 14px;
    padding: 40px;
    text-decoration: none;
    color: #ffffff;
}
.site-header a:hover{
    color: #f89c11;    
}


.second-header{
    padding-top: 60px;
    padding-bottom: 10px;
}
.second-header p span{
    font-size: 29px;
    font-weight: 700;
    
}
#project_name {
    padding-top: 10px;
}
#project_text{
    padding-top: 5px;
}
.second-header small{
    font-size: 13px;
}
.second-header small span{
    font-size: 14px;
    font-weight: 700;
    color: #f89c11;
}
#mobile{
    display: none;
}
.slidebar{
    display: none;
}
#header-contacts{
    font-size: 16px;
    padding-top: 10px;
}
.phone-number {
    padding-top: 10px;
    color: #207a34;
}
#header-contacts .phone-number a{
    text-decoration: none;
    color: #000000;
    font: 22px Ubuntu Regular;
    font-weight: 700;
}
#header-contacts .phone-number a:hover{
    color: #207a34;
}
.phone-num-p a:hover{
    color: #207a34;
    text-decoration: none;
}
.size-form{
    width: 100%;
}

.phone-us-text {
    text-decoration: underline;
    color: #207a34;
    font: 18px Ubuntu Regular;
}
.phone-us-text a:hover{
    color: #f89c11;
    text-decoration: wavy;
}

#header-contacts .phone-us-text a{
    text-decoration: underline;
    color: #207a34;
    font: 18px Ubuntu Regular;
}
#header-contacts .phone-us-text a:hover{
    color: #f89c11;
    text-decoration: wavy;
}
.prices {
    padding-top: 3%;
    padding-bottom: 3%;
}
.prices .title {
    font: 54px Ubuntu Med1um;
    padding-top: 4%;
    padding-bottom: 4%;
}
.prices th {
    font: 1.2em Ubuntu Regular;
}
.prices .column{
    font: 1.4em Ubuntu !important;
}
.prices td {
    font: 1.4em Ubuntu Regular;
}
.prices .btn-block {
    padding-top: 5%;
}
.prices button {
    background: #207a34;
    width: 40%;
    font: 1.5em Ubuntu;
    height: 8%;
}
.left-border{
    border-left: 5px solid green !important;
    
}
.card-img img{
    height: 290px !important;
}
.remont p{
    font-family: "Montserrat", Arial, sans-serif !important;
    font-size: 14px !important;
    line-height: 1.65em !important;
    font-style: normal !important;
    font-weight: 400 !important;
    display: block;
    margin-block-start: 1em !important;
    margin-block-end: 1em !important;
    margin-inline-start: 0px !important;
    margin-inline-end: 0px !important;
}
#about{
    background: url("../img/header-bg.jpg") no-repeat;
    -moz-background-size: 100%; /* Firefox 3.6+ */
    -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
    -o-background-size: 100%; /* Opera 9.6+ */
    background-size: 100%; /* Современные браузеры */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 78%;
    position: relative;
    /* top: 140; */
    border-bottom: 1px solid #207a34;
}
#about-catalog{
    -moz-background-size: 100%; /* Firefox 3.6+ */
    -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
    -o-background-size: 100%; /* Opera 9.6+ */
    background-size: 100%; /* Современные браузеры */
    background-color: #207a34;
    height: 90px;
}

.page-title{
    margin-top: 2.2%;
}

#about_acess{
    background: url("../img/product-bg.jpg") no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -moz-background-size: 100%; /* Firefox 3.6+ */
    -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
    -o-background-size: 100%; /* Opera 9.6+ */
    background-size: 100%; /* Современные браузеры */
    background-position-y: 48%;
}

#about_acess .overlay {
    background: rgba(0, 0, 0, 0.5);
}
#about_acess .about-project-btn {
    padding-top: 10%;
}

.about-project{
    color: #ffffff !important;
}
.button-centre{
    display: block;
  margin-right: auto;
  margin-left: auto;
}
.pad-left{
    padding: 10px
}
.about-title {
    font: 45px Ubuntu Med1um;
    font-weight: 700;
    color: #000000;
}
.title-other{
    padding-top: 1%;
}
ul {
    list-style-type: none;
}
  
#about ul > li:before {
    content: "—"; /* en dash here */
    position: absolute;
    margin-left: -1.4em; 
}

.about-project-ul {
    padding-top: 3%;
    position: relative;
    font-size: 25px ;
    font-style: normal;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-variant-numeric: normal;
    font-variant-east-asian: normal;
    font-weight: normal;
    font-stretch: normal;
    line-height: normal;
    color: #000000;
}
.about-project ul {
    padding-bottom: 15px;
}
.about-project .btn {
    position:relative;
    width:auto;
    background:#207a34;
    border-radius:5px;
    -o-border-radius:5px;
    -moz-border-radius:5px;
    -ms-border-radius:5px;
    -webkit-border-radius:5px;
    color:white;
    font:21px Ubuntu;
    padding:20px 50px;
    text-align:center;
}
#about .about-project-btn {
    margin-bottom: 100px;
}
#advantages .title{
    font-size: 46px ;
    margin-bottom: 27px;
    font-weight: bold;
    line-height: 1.3;
}
.adv-title{
    font-family: Ubuntu Med1um;
    font-size: 1.8em !important;
    font-weight: 700;
    padding-bottom: 30px;
}
#advantages .right{
    color: #207a34;
}
#advantages .wrong{
    color: #c20018;  
}
#advantages .adv-right-ul > li:before {
    left: 7%;
    content: '✓';
    position: absolute;
    margin-left: 30px;
	padding-left: 7px;	
	padding-top: 1px;
    font-size: 30px;
    line-height: 30px;
    font-weight: 400;
    color: #207a34;
    width: 40px;
    height: 40px;
    box-sizing: border-box;
    border-radius: 50%;
    border: 2px solid #207a34;
    margin-left: -1.4em; 
}
#advantages .adv-wrong-ul > li:before {
    left: 7%;
    content: '✗';
    position: absolute;
    margin-left: 30px;
    padding-left: 6px;	
	margin-bottom: 35px;
    font-size: 30px;
    line-height: 30px;
    font-weight: 400;
    color: #c20018;
    width: 40px;
    height: 40px;
    box-sizing: border-box;
    border-radius: 50%;
    border: 2px solid #c20018;
    margin-left: -1.4em; 
}
#advantages li{
    padding-bottom: 20px;
}
#advantages p {
    position: relative;
    font-size: 22px;
    padding-top: 5px;
}

#advantages span {
    font-weight: 700
}

.product-service .title {
    font-size: 45px;
    font-weight: bold;
    line-height: 1.3;
    margin-top: 2%;
}
#products{
    background-color: white;

}
#products img {
    width: 100%;
    padding-top: 30px;
}
#products .item-text {
    margin-top: 40px;
}
.product-service .item-text h3 {
    font-size: 38px;
    font-weight: 700;
}
#products .item-text p {
    font: 21px Ubuntu Regular;
}
#partners{
    align-self: center;
}
#partners img{
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;;
    display: -webkit-inline-box !important;
    text-align: center;
    padding: 25px 10px !important;
    border-width: 0px !important;
}
.coffee-title{
    font: Ubuntu Light !important;
    text-transform: uppercase;
    font-weight: 600 !important;
} 
#partners{
    width: 100%;
    background-color: #f3f3f3;
}
.product-price-btn {
    margin-top: 30px; 
}
#products .item-text button {
    height: 50px; 
    font-size: 20px;
    font-weight: 700;
    padding-right: 30px;
    padding-left: 30px;
    background: #207a34;
}
.product-service .title {
    font-size: 45px;
    font-weight: bold;
    line-height: 1.3;
}
#faults .about {
    font-size: 24px;
    margin-bottom:56px;
}
#faults .reason-text {
    font: 17px Ubuntu Regular;
    line-height:1.6;
    padding-right:50px;
}
.reason-text-catalog {
    padding-top: 5px;
    font-size: 22px !important;
    color: #000 !important;
    text-align: center;
}
#faults .reason-number p{
    font-family: Ubuntu Med1um;
    font-size: 100px;
    background: none !important;
    line-height: 1;
    height: auto;
    text-align: center;
}
#faults .second-row {
    padding-top: 50px;
}

.repair-notification {
    font-size: 23px;
    padding-top: 70px;
}
.repair-notification button {
    font-size: 22px;
    padding: 15px;
    background: #207a34;
}
.repair-btn {
    padding-top: 40px;
}
#takein{
    background-image: url("../img/replacement-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
#takein .overlay {
    background: rgba(0, 0, 0, 0.7);

}

.takein-coffee .about-title {
    font: 45px Ubuntu Med1um;
    padding-bottom: 20px;
    font-weight: 700;
    color: #ffffff;
}

.takein-coffee p{
    color: #ffffff;
    font-size: 21px;
    padding-bottom: 20px;

}
.takein-coffee input {
    width: 400px;
    height: 60px;
}
.takein-coffee .name-form {
    padding-bottom: 2px;
}
.takein-btn {
    padding-top: 0;
    width: 100%;
}
.takein-btn > button{
    width: 100%;
    padding: 10 0 10 0;
}
.takein-coffee button {
    height: 85px;
    font-size: 22px;
    padding-right: 24px;
    padding-left: 24px;
    background: #207a34;
    border-color: #207a34;
    width: 400px;
}
.takein-coffee .notification {
    color: #ffffff;
    font-size: 15px;
    padding-top: 20px;
    font-weight: 500;
}
#maintenance {
    padding: 80px 0 84px;
    border-bottom: 1px solid #eaeaea;
    background: url(../img/maintenance-bg.jpg) no-repeat;
    background-position-x: 220%;
    background-size: 80%;
    background-color: white;
}
.service-text{
    font-size: 14px;
}
.repair-text{
    width: 70%;
    margin: 40 auto 40;
}
#maintenance .row .second-row {
    padding-top: 4%;
}
#maintenance img {
    width: 50px;
    height: 50px;
}
#maintenance .title {
    font-size: 45px;
    font-weight: 700;
}
#maintenance .description {
    font-size: 21px;
    padding-bottom: 30px;
}
.descriprion__ul > li{
    font-size: 26px;
    text-indent: -24px;
}
.descriprion__ul li::before{
    content: '✓' !important;
    color: #207a34;
    font-weight: 700;
    margin-left: -5px;
}
#maintenance .content .title  {
    font-size: 32px;
    font-weight: bolder;
}
#maintenance .serious-breakage {
    font: 1.6em Ubuntu Med1um;
}
.maintenance-text {
    font-size: 24px;
    padding-top: 30px;
}
.maintenance-title {
    font: 32px Ubuntu;
    padding-top: 30px;
}
.evidence-name {
    font:1.4em Ubuntu;
}
.maintenance-btn {
    padding-top: 30px;
}
.maintenance-btn button{
    background: #207a34;
    font: 20px Ubuntu;
    height: 60px;
    padding-right: 30px;
    padding-left: 30px;
}
#breakage .title {
    font: 45px Ubuntu Med1um;
    font-weight: 700;
}
#breakage ul > li:before {
    left: 8%;
    content: '✓';
    position: absolute;
    margin-left: 30px;
	padding-left: 7px;	
	padding-top: 1px;
    font-size: 30px;
    line-height: 30px;
    font-weight: 400;
    color: #207a34;
    width: 40px;
    height: 40px;
    box-sizing: border-box;
    border-radius: 50%;
    border: 2px solid #207a34;
    margin-left: -1.4em; 
}
#breakage img {
    background-size: 100% auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: -69px;
    z-index: -1;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size:cover;
    background-size: cover;
}
#breakage li{
    font: 19px Ubuntu Regular;
    padding-bottom: 30px;
}
#breakage .main-row {
    padding-top: 50px;
    padding-left: 5%;
}
#breakage ul {
    padding-bottom: 15px;
}
.breakage-notification p {
    font: 21px Ubuntu Regular;
    padding-top: 30px;
}
#breakage .btn {
    position:relative;
    width:auto;
    background:#207a34;
    border-radius:5px;
    -o-border-radius:5px;
    -moz-border-radius:5px;
    -ms-border-radius:5px;
    -webkit-border-radius:5px;
    color:white;
    font:21px Ubuntu;
    padding:20px 50px;
    text-align:center;
}

#gift{
    background: url("../img/gift-block-bg.jpg") fixed;
    -moz-background-size: 100%; /* Firefox 3.6+ */
    -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
    -o-background-size: 100%; /* Opera 9.6+ */
    background-size: 100%; /* Современные браузеры */
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 28%;
}
#gift .overlay {
    background: rgba(0, 0, 0, 0.4);
}
.text p{
    font-family: "Montserrat", Arial, sans-serif;
    font-size: 16px;
    line-height: 1.65em;
    font-style: normal;
    font-weight: 400;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.gift-coffee .title {
    font: 45px Ubuntu Med1um;
    padding-bottom: 10px;
    font-weight: 700;
    color: #ffffff;
}

.gift-coffee p{
    color: #ffffff;
    font-size: 21px;
    padding-bottom: 20px;
}
.gift-coffee input {
    width: 400px;
    height: 60px;
}
.gift-coffee .name-form {
    padding-bottom: 2px;
}
.gift-btn {
    padding-top: 2px;
}
.gift-coffee button {
    height: 80px;
    width:400px;
    font-size: 20px;
    font-weight: 700;
    padding-right: 24px;
    padding-left: 24px;
    background: #207a34;
    border-color: #207a34;
}
.gift-coffee .notification {
    color: #ffffff;
    font-size: 15px;
    padding-top: 20px;
    width: 400px;
    font-weight: 500;
}

.howit-service .title {
    font-size: 54px;
    font-weight: bold;
    line-height: 1.3;
    padding-bottom: 40px;
}
#howit .about {
    font-size: 28px;
    margin-bottom:56px;
}
#howit .howit-text {
    font: 18px Ubuntu Regular;
    line-height:1.6;
    padding-right:50px;
}
.howit-text a {
    font: 18px Ubuntu Regular;
    color: #207a34
}
.howit-text a:hover {
    color: #f89c11
}
#howit .howit-number p{
    font-family: Ubuntu Med1um;
    font-size: 100px;
    color: #207a34;
    background: none !important;
    line-height: 1;
    height: auto;
    text-align: center;
}
#faq {
    background: url("../img/faq-bg.jpg") no-repeat;
    -moz-background-size: 100%; /* Firefox 3.6+ */
    -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
    -o-background-size: 100%; /* Opera 9.6+ */
    background-size: 100%; /* Современные браузеры */

}

#faq .title {
    font: 54px Ubuntu Med1um;
    font-weight: 700;
    color: #ffffff; 
    padding-bottom: 50px;
}
#faq h3 {
    text-align: center
}
#faq button {
    background: none !important;
    color: #207a34 !important;
    font: 22px Ubuntu Regular;
    text-align: left;
    animation: jelly 0.5s;

}
.coffee-text__block{
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin: 60 auto 40;

}
.coffee-text__img{
    width: 25%;
}
.coffee-text__text{
    width: 55%;
}
.coffee-text__text > p{
    font: 20px Ubunto
}
/* #faq button:hover {
    color: #f89c11 !important;
} */
#faq span {
    color: #000000;
    font-weight: 700;
    font-size: 28px; 
}
#faq .card-body {
    font: 20px Ubuntu Regular;
    padding-left: 5%;
}
#faq .overlay {
    background: rgba(0, 0, 0, 0.4)
}
#contacts .title{
    font-size: 45px;
    font-weight: bold;
    line-height: 1.3;
    padding-bottom: 10px;
}
#contacts label {
    font-size: 22px;
    font-weight: bold;
    line-height: 1.3;
}
#contacts p {
    font-size: 18px;
}
.contact-phone a {
    font: 20px Ubuntu Regular;
    color: #222222;

}
.contact-phone {
    padding-top: 20px;
    padding-bottom: 30px;
}
.contact-phone:hover {
    color: #207a34;
}
#contacts button {
    height: 60px;
    font-size: 22px;
    width: 300px;
    padding-right: 24px;
    padding-left: 24px;
    background: #207a34;
    border-color: #207a34;
}
.map-container{
    overflow:hidden;
    position:relative;
    height:0;
    }
.map-container iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
    }
.footer{
    padding-top: 20px;
    padding-bottom: 20px;
    color: white;
    background-color: #0f0f0f;
}
.modal{
    display: block;
    position: fixed;
    text-align: center;
    z-index: -10;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.7); 
    transition:all 0.3s ease-in-out;
    opacity: 0;
}
.modal-content{
    background-color: white;
    z-index: 11;
    width: 40%;
    height: auto;
    left: 30%;
    top: 10%;
    border-radius: 20px;
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    pointer-events: auto;
    background-clip: padding-box;
    outline: 0;
}
.modal-title {
    font: 35px Ubuntu !important;
}
.modal p {
    font: 19px Ubuntu Regular;
    padding-top: 10px;
    padding-bottom: 0px;
    padding-left: 30px;
    padding-right: 30px;
}
.modal .container {
    padding-right: 10%;
    padding-left: 10%;
}
.modal input {
    height: 55px;
    width: 100%;
}
.modal .inputs {  
    padding-bottom: 15px;
    
}
.modal .btn {
    width: 250;
    height: 50px;
    background:#207a34;
    font: 18px Ubuntu;
}
.notification {
    font: 20px Ubuntu;
    padding-top: 25px;
    padding-bottom: 40px;
}
.modal .closebtn {
    float: right;
    font-size: 28px;
    font-weight: bold;
    height: 50px;
    width: 40px;
    background: none;
    border: 0;
    opacity: .5;
    box-shadow: none;

}
.modal .modal-cost__closebtn {
    float: right;
    font-size: 22px;
    font-weight: bold;
    height: 50px;
    width: 40px;
    background: none;
    border: 0;
    opacity: .5;

}
.modal-phone-number{
    font: 25px Ubuntu Regular;
    font-weight: 600;
    padding-bottom: 20px;
}
.modal-phone-number > a{
    color: #149e4e;
}
#content p{
    font-size: 14px;
    line-height: 1.65em;
    font-style: normal;
    font-weight: 400;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
#content a{
    text-decoration: none;
}
#content h2{
    font-weight: 600;
    font-style: normal;
    line-height: 1.1;
    color: #333;
}
#accessories .item {
    border: #b6b3b3 solid 0.5px;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 30px;
}
#accessories .description {
    margin-top: 4%;
    margin-bottom: 4%
}
#accessories .buy-item button {
    background: #f89c11 !important;
    font: 22px Ubuntu Regular;
}

/* #accessories .buy-item button:hover {
    background: #207a34 !important;
} */
#accessories .item .description {
    font: 18px Ubuntu Regular;
}
#accessories .item .price {
    font-weight: 700; 
}
#accessories .img-thumbnail{
    border: none !important;
}


.carousel-caption {
    display: inline-block;
    background: rgba(0, 0, 0, 0.5);
}
.carousel-control-prev {
    color: #000000;
}
.ptext{
    font:15px Ubuntu Regular;width:360px;padding-top:2px;padding-right:17px;line-height:1.3;
}
.description-text{
    font-family: "Montserrat", Arial, sans-serif;
}
.description-text h2{
    font-weight: 600 !important;
    font-style: normal;
}s
.description-text p{
    font-size: 14px !important;
    line-height: 1.65em !important;
    font-style: normal !important;
    font-weight: 400 !important;
    color: #555 !important;
    margin: 0 0 20px !important;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
input::-webkit-input-placeholder       {opacity: 1 !important; transition: opacity 0.3s ease !important;}
    input::-moz-placeholder                {opacity: 1 !important; transition: opacity 0.3s ease !important;}
    input:-moz-placeholder                 {opacity: 1 !important; transition: opacity 0.3s ease !important;}
    input:-ms-input-placeholder            {opacity: 1 !important; transition: opacity 0.3s ease !important;}
    input:focus::-webkit-input-placeholder {opacity: 0 !important; transition: opacity 0.3s ease !important;}
    input:focus::-moz-placeholder          {opacity: 0 !important; transition: opacity 0.3s ease !important;}
    input:focus:-moz-placeholder           {opacity: 0 !important; transition: opacity 0.3s ease !important;}
    input:focus:-ms-input-placeholder      {opacity: 0 !important; transition: opacity 0.3s ease !important;}

    .models__img {
        height: 160px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        margin-bottom: 18px;}
        .col-lg-2 {
            -ms-flex: 0 0 16.666667%;
            flex: 0 0 16.666667%;
            max-width: 16.666667%;
        }
        .row {
            display: -ms-flexbox;
            display: flex;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
            margin-right: -15px;
            margin-left: -15px;
        }
        .models__row.active>div{
            display: block;
            flex-wrap: wrap;
        }
       

        /* FOOTER */
.footer-ul {
    margin: 0;
    padding: 0;
}
.footer__brands {
    -webkit-column-count: 4;
    column-count: 4;
}
.footer {
    background-color: #0f0f0f;
    font-size: 14px;
    color: #fff;
    text-align: center;
}

.rating-container {
    width: 250px;
    padding: 0px 20px 10px 0px;
    margin-top: -10px;
    text-align: center;
    display: flex;
    justify-content: space-between;
}
.rating-container > p{
    margin-top: 10px;
}
.star-ratings {
    unicode-bidi: bidi-override;
    color: #ccc;
    font-size: 24px;
    position: relative;
    margin: 0;
    padding: 0
}
.display-cell > p{
    color: white;
    font-size: 16px ;
    text-align: left;
}

.value {
    margin-top: -5px;
    font-size: 24px;
}
.votes {
    font-family: proxima-nova,"Helvetica Neue",Helvetica,Arial,sans-serif;
    margin-top: -5px;
    font-size: 14px;
}
.star-ratings .fill-ratings {
    color: orange;
    padding: 0;
    position: absolute;
    z-index: 1;
    display: block;
    top: 0;
    left: 0;
    overflow: hidden;
}
.star-ratings .empty-ratings {
    padding: 0;
    display: block;
    z-index: 0;
}
.display-cell {
    display: table-cell;
}
.display-row {
    display: table-row;
}
.nav-bottom__item {
    display: inline-block;
    margin: 0 5px;
}
.block_services {
    font-size: 12px;
}
.display-cell {
    display: table-cell;
}
.footer a {
    color: inherit;
}
.otstup {
    height: 10px;
}
 /* PROBLEMS ITEM */
.problems{
    position: relative;
    top: 8%;
    left: 0;
}

 .problems__row [class*=col-]{
     margin-bottom:30px
    }
    
.problems__item{
    display:block;
    text-align:center;
    position:relative;
    color:inherit
}
.problems__item:hover > .problems__title {
    color: #F77F00;
}
.problems__title{
    display:block;
    line-height:1.2;
    font-family: Ubuntu Regular;
    font-size:16px;
    font-weight: 600;
}
.problems__title:hover{
    color: #F77F00;
}
.problems__icon,.problems__title{
    margin-bottom:1rem;
    position:relative
}
.problems__icon{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-pack:center;
    -ms-flex-pack:center;
    justify-content:center;
    -webkit-box-align:center;
    -ms-flex-align:center;
    align-items:center;
    width:75px;
    height:75px;
    margin-left:auto;
    margin-right:auto
}
.problems__icon svg{
    color:#fff;
    position:absolute;
    z-index:1;
    width: 50%;
    height: 50%;
}
.problems__icon:after{
    content:"";
    position:absolute;
    border-radius:5px;
    left:0;
    top:0;
    width:100%;
    height:100%;
    background-color:#19381F;
    -webkit-transition-property:all;
    -o-transition-property:all;
    transition-property:all;
    -webkit-transition-duration:.3s;
    -o-transition-duration:.3s;
    transition-duration:.3s;
    -webkit-transition-timing-function:ease;
    -o-transition-timing-function:ease;
    transition-timing-function:ease;
    -webkit-transition-delay:0s;
    -o-transition-delay:0s;
    transition-delay:0s
    }

.problems__item:hover .problems__icon:after{
    border-radius:50%;
    -webkit-transform:rotate(45deg);
    -ms-transform:rotate(45deg);
    transform:rotate(45deg)
}      
                        /* GRID WTHATS YOUR PROBLEM */
.whats-your-problem{
    /* background-image: url('/img/fon-zelenyj-cvet-siyanie.svg'); */
    /* -moz-background-size: 100%; Firefox 3.6+ */
    /* -webkit-background-size: 100%; Safari 3.1+ и Chrome 4.0+ */
    /* -o-background-size: 100%; Opera 9.6+ */
    /* background-size: 100%;  */
    /* border-bottom: 1px solid #002500; */
    padding: 0 50 0 50;

}
.whats-block{

}
.grid-problems{
    display: grid;
    width: 100%;
    grid-template-rows: 100px 120px 120px 50px;
    grid-template-columns: 17% 10% 10% 10% 10% 17%;
    grid-gap: 2vw;
    justify-content: space-around;
    grid-template-areas: 
    ". sec-header sec-header sec-header sec-header ."
    "male noCoffee leakage noFoam off female"
    "male noCapuchino problem-text problem-text noGrains female"
    ". . problem-text problem-text . .";
    color: #fff;
    background-color: #248232;
    border-radius: 2%;
    box-shadow:  9px 9px 18px  rgba(0, 0, 0, 0.568), 
    -9px -9px 18px rgba(0, 0, 0, 0.568);
   

}
.male{
    grid-area: male;
    padding-left: 25%;
}
.noCoffee{
    grid-area: noCoffee;
}
.noCapuchino{
    grid-area: noCapuchino;
}
.leakage{
    grid-area: leakage;
}
.noFoam{
    grid-area: noFoam;
}
.off{
    grid-area: off;
}
.noGrains{
    grid-area: noGrains;
}
.female{
    grid-area: female;
    padding-right: 10%;

}

.problem-text{
    grid-area: problem-text;
}
#full-machine-list{
    display: none;
}
#button-close{
    display: none;
    align-items: center;
}     
#buttonshowall{
    align-items: center;
}
.problem-button > button{
    font-size: 15px;
    width: 100%;
    background-color: #CC3F0C;
}
.problem-button{
    padding: 0 10px 0 10px;
}
.sec-header{
    text-align:center;
    grid-area: sec-header;
    padding: 20px 0 10 0;
}
                /* GRID WHATS YOUR PROBLEM CLOSE */

#order{
    display: flex;
    padding: 60 150 20 150;
    justify-content: space-around;
}
.btn-more{
    display: inline-block;
    width: 250px;
    height: auto;
    background-color: #207a34;
    color: white !important;
    border-radius: 5px;
    text-align: center;
    padding: 10;
    font-size: 25px;
    font-family: Ubuntu;
    margin: 0 auto;
}
.btn-more:hover{
    background-color: #f5a907;
}
.form-title{
    font-size: 20px;
}
.order-p-style{
    font-size: 20px;
}
.howitwork__background {
    background: url("../img/backgroundcoffee.jpg") no-repeat;
    -moz-background-size: 100%; /* Firefox 3.6+ */
    -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
    -o-background-size: 100%; /* Opera 9.6+ */
    background-size: 100%; 
    background-position-y: 30% ;
    border-bottom: 1px solid #207a34;
}
.line-bottom:after {
    content: "";
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.5rem;
    width: 2px;
    height: 35px;
    border-left: 2px dashed black;
}
#dropdown-problem, #dropdown-problem-mobile{
    display: none;
    background-color: #19381F;
    border: 1px solid #241909;
    border-radius: 5px;
    padding: 5px;
    margin: 10px;
}
#noCapuchinoOn{
    display: none;

}
#noCoffeeOn{
    display: none;
}
#flowOn{
    display: none;

}
#noFoamOn{
    display: none;

}
#offOn{
    display: none;

}
#noGrinderOn{
    display: none;

}
                        /* CLOSE */


.mb-4,.my-4{
    margin-bottom:1.5rem!important
}
#id_name{
    padding: 10px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.4);
    font-size: 18px;
}
#id_phone{
    padding: 10px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.4);
    font-size: 18px;

}
#id_message{
    padding: 10px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.4);
    width: 100%;
    font-size: 18px;

}
                    /* FORM НЕ НАШЛИ СВОЮ ПОЛОМКУ? */
.order-now{
    padding-top: 5%;
}
.juraimg{
    position: relative;
    left: 0; top: -95;
    width: 350px;
}
.input-order-now{
    padding: 10px;
    background-color: #207a34;
    border: 0;
    color: white;
    border-radius: 5px;
    margin-bottom: -3.5% !important;
}
.input-order-now:hover{
    background-color: #f89c11;
}
.order-now p{
    line-height:1.3;
    color: #333;
}
.request-form > ul{
    padding: 0;
}
.order-now__wrap{
    max-width:600px;
    width:100%;
    display:block;
    margin-left:auto;
    margin-right:auto
}
.order-now__wrap > p{
    font-size: 17;
    color: black;
}
.order-now [type=text]{
    width:100%
}
.order-now__text{
    text-align:center;
    font-size:0.9rem;
    line-height:1.5;
    margin-top:1.5rem;
    color: #333;
}
.order-now__text a{
    color:inherit;
    text-decoration:underline
}.order-now__title{
    line-height:1.1;
    text-transform:uppercase;
    margin-bottom:1rem;
    color: black;
}
.order-now .request-form{
    position:relative
}.order-now .request-form input{
    margin-bottom:0
}
.order-now .request-form textarea{
    height:150px;
    min-height:150px;
    margin-top:15px
}
.order-now [type=submit]{
    position:absolute;
    right:0;
    bottom:22px;
    background-size:26px;
    background-repeat:no-repeat;
    background-position:50%;
}

/* BRANDS */
.brands-mobile{
    display: none;
}
.brands__item{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex
}
.brands__item{
    -webkit-box-align:center;
    -ms-flex-align:center;
    align-items:center;
    -webkit-box-pack:center;
    -ms-flex-pack:center;
    justify-content:center;
    border-radius:3px;
    -webkit-transform:scale(.9);
    -ms-transform:scale(.9);
    transform:scale(.9);
    -webkit-transition-property:all;
    -o-transition-property:all;
    transition-property:all;
    -webkit-transition-duration:.3s;
    -o-transition-duration:.3s;
    transition-duration:.3s;
    -webkit-transition-timing-function:ease;
    -o-transition-timing-function:ease;
    transition-timing-function:ease;
    -webkit-transition-delay:0s;
    -o-transition-delay:0s;
    transition-delay:0s;
    width: 170px;
}
.brands__item:hover{
    -webkit-transform:scale(1);
    -ms-transform:scale(1);
    transform:scale(1)
}
.show{
    display: flex !important;
}

.brends-more{
    justify-content: center;
    text-align: center;
    margin-top: 20px;
}
.brends-more > a{
    font-size: 20px;
    color: #207a34;
    text-align: center;
    margin-top: 20px;
}
.brends-more > a:hover{
    color: #f89c11;
}
.brands_div{
    justify-content: space-around !important;
}
.types__item{
    display:block;
    color:inherit;
    align-items: center;
    text-align: center;
}
.types__title{
    margin-top: 0px;
    font-size: 22px;
    font-family: Ubuntu;
}
.types__img{
    padding-bottom: 20px;
    width: 150px;
    height: 150px;
}
.types__img > img{
    margin-left: 16%;
}
.types__item:hover{
    color:#207a34
}
.colored{
    color: #207a34;
}
.colored-yellow{
    color: #002500;
}
.order-now [type=text] {
    width: 58%;
}